html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 90px;
	margin-bottom: 40px;
	background: #272727;
}

h3, .page-header {
  color: #ecf0f0;
}

.container {
	background: #272727;
}

.img-center {
    margin: 0 auto;
}
.img-circle{
    height: 30%;
}