<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" charset="utf-8" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>

    <script type="text/javascript" src="geo.js"></script>
    

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    


    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="geo.css">
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
</head>
<body>
    <a href="https://github.com/eshlefest/atmospheres"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="static/forkMe.png"></a>
    <h1><img src="/static/Twitter.png" alt="" style="width:50px;height:50px"/> how is San Francisco feeling right now? </h1><br>
    <h5>
        This webapp gathers tweets in realtime and shows them on the map by neighborhoods, showing the emotional state of every neighborhood thanks to our sentiment algorithm.
    </h5>
    <div ng-controller="MapController">
        <map></map>
    </div>

	<div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-3 col-sm-3 text-center">
            <img class="img-circle img-responsive img-center" src="/static/Eric.jpg" alt="">
            <h3>Eric Chu<br>
                <small>Data visualization</small>
            </h3>
        </div>
        <div class="col-lg-3 col-sm-3 text-center">
            <img class="img-circle img-responsive img-center" src="/static/Ryan.jpg" alt="">
            <h3>Ryan Eshleman<br>
                <small>Tech Lead and backend</small>
            </h3>
        </div>
        <div class="col-lg-3 col-sm-3 text-center">
            <img class="img-circle img-responsive img-center" src="/static/Harini.jpg" alt="">
            <h3>Harini Parthasarathi<br>
                <small>Data visualization</small>
            </h3>
        </div>
        <div class="col-lg-3 col-sm-3 text-center">
            <img class="img-circle img-responsive img-center" src="/static/Sammy.jpg" alt="">
            <h3>Sammy Patenotte<br>
                <small>Frontend</small>
            </h3>
        </div>
        <div class="col-lg-4 col-sm-4 text-center">
            <img class="img-circle img-responsive img-center" src="static/Vidya.jpg" alt="">
            <h3>Sree Vidya Sastry<br>
                <small>Frontend</small>
            </h3>
        </div>
        <div class="col-lg-4 col-sm-4 text-center">
            <img class="img-circle img-responsive img-center" src="/static/Vishal.jpg" alt="">
            <h3>Vishal Ravi Shankar<br>
                <small>Frontend</small>
            </h3>
        </div>
        <div class="col-lg-4 col-sm-4 text-center">
            <img class="img-circle img-responsive img-center" src="/static/Kumari.jpg" alt="">
            <h3>Kumari Sweta<br>
                <small>Backend</small>
            </h3>
        </div>
    </div>

    <div class="about">
        <a href="" class="btn btn-default" role="button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Our team
    </a>
    </div>
    <div class="back-to-top">
        <a href="" class="btn btn-default" role="button">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to top
    </a>
</body>

<script>
jQuery(document).ready(function() {
	// Hide Back to top on load
	jQuery('.back-to-top').fadeOut(0);
    var offset = 500;
    var duration = 300;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('.about').fadeOut(duration);
            jQuery('.back-to-top').fadeIn(duration);
        } else {
            jQuery('.back-to-top').fadeOut(duration);
            jQuery('.about').fadeIn(duration);
        }
    });

    jQuery('.back-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
    });
    jQuery('.about').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({ scrollTop: $(document).height() }, duration);
        return false;
    });
});
</script>

</html>